<?php

/** @var $block Esgi\Storelocator\Block\Physicalstore */
$physicalStores = $block->getPhysicalstores();
?>
<style>

</style>

<!-- INPUT GOOGLE PLACE SEARCH -->
<input id="pac-input" class="controls" type="text" placeholder="Rechercher">
<!-- DIV GOOGLE MAP -->
<div id="map"></div>

<script type="application/javascript">

    function initMap() {
        var paris = {lat: 48.866667, lng: 2.333333};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: paris,
            mapTypeId: 'roadmap'
        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
            searchBox.setBounds(map.getBounds());
        });

        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
            var places = searchBox.getPlaces();

            if (places.length == 0) {
                return;
            }

            // For each place, get the icon, name and location.
            var bounds = new google.maps.LatLngBounds();
            places.forEach(function(place) {
                if (!place.geometry) {
                    console.log("Returned place contains no geometry");
                    return;
                }
                var icon = {
                    url: place.icon,
                    size: new google.maps.Size(0, 0),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(25, 25)
                };

                // Create a marker for each place.
                markers.push(new google.maps.Marker({
                    map: map,
                    icon: icon,
                    title: place.name,
                    position: place.geometry.location
                }));

                if (place.geometry.viewport) {
                    // Only geocodes have viewport.
                    bounds.union(place.geometry.viewport);
                } else {
                    bounds.extend(place.geometry.location);
                }
            });
            map.fitBounds(bounds);
        });

        var markers = [];
        <?php foreach ($physicalStores as $index => $physicalStore) : ?>
        markers.push(<?php echo json_encode($physicalStore->getData()); ?>);
        <?php endforeach ?>

        setMarkers(map, markers);
    }

    function setMarkers(map, markersInfo) {
        var marker, i

        for (i = 0; i < markersInfo.length; i++)
        {
            var loan = markersInfo[i].name
            var lat = markersInfo[i].latitude
            var long = markersInfo[i].longitude
            var add =  '<div id="content">'+
                '<div id="siteNotice">'+
                '</div>'+
                '<h1 id="firstHeading" class="firstHeading">'+ markersInfo[i].name +'</h1>'+
                '<div id="bodyContent">'+
                '<p><b>Address: </b>'+ markersInfo[i].address +
                '<p><b>City: </b>'+ markersInfo[i].city +
                '<p><b>Postal code: </b>'+ markersInfo[i].postal_code +
                '<p><b>Phone: </b>'+ markersInfo[i].phone +
                '<p><b>Fax: </b>'+ markersInfo[i].fax +
                '<p><b>Schedule: </b>'+ markersInfo[i].schedule +
                '</div>'+
                '</div>';

            latlngset = new google.maps.LatLng(lat, long);

            var marker = new google.maps.Marker({
                map: map,
                title: loan ,
                icon: "https://png.icons8.com/cotton/32/000000/hamburger.png",
                position: latlngset
            });

            map.setCenter(marker.getPosition())

            var infowindow = new google.maps.InfoWindow()

            google.maps.event.addListener(marker,'click', (function(marker, content, infowindow){
                return function() {
                    infowindow.setContent(content);
                    infowindow.open(map,marker);
                };
            })(marker,add,infowindow));
        }
    }


</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrWN52qBSND4NUoTsSZXngoZS0bfR1KAg&libraries=places&callback=initMap" async defer></script>
<script type="text/x-magento-init">
    {
        "#map":
        {
            "storeLocatorJs": {
                "url": "markers"
            }
        }
    }
</script>