<?php

/** @var $block Esgi\Storelocator\Block\Physicalstore */
$physicalStores = $block->getPhysicalstores();
?>
<style>
    .amcharts-description-div {
    background-color: #e34132;
    box-sizing: border-box;
    color: white;
    width: 325px !important;
    padding: 0 25px;
    overflow-y: auto;
}

.amcharts-chart-div > a{
    display: none !important;
}

.amcharts-description-div p, .amcharts-description-div h2{
    color: white;
}

.ammapDescriptionTitle, .ammapDescriptionWindowCloseButton{
    display: none;
}

</style>
<script src="https://www.amcharts.com/lib/3/ammap.js"></script>
<script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<div id="chartdiv" style="height: 820px;"></div>
<?php
    $sData = [];
    foreach ($physicalStores as $store) {
        $sData[] = $store->getOrigData();
    }
    // var_dump($sData);
?>
<script>
    /**
     * Create the map
     */
    var $ = jQuery;
    var map = AmCharts.makeChart("chartdiv", {
      type: "map",
      theme: "light",
      projection: "miller",
      dataProvider: {
        map: "worldLow",
        getAreasFromMap: true,
        areas: [
            {
                id: "FR",
                color: "#336666",
                zoomLevel: 5,
            },
            {
                id: "US",
                color: "#336666",
                zoomLevel: 5,
            },
            {
                id: "DE",
                color: "#336666",
                zoomLevel: 5,
            },
            {
                id: "JP",
                color: "#336666",
                zoomLevel: 5,
            },
            {
                id: "CN",
                color: "#336666",
                zoomLevel: 5,
            }
        ],
        images: [
            <?php foreach ($sData as $s) : ?> 
            {
              alpha: 1,
              latitude: <?= $s['latitude'] ?>,
              longitude: <?= $s['longitude'] ?>,
              imageURL: 'https://morand.paris/wp-content/uploads/2018/04/if_map-marker_299087.png',
              color: "#000000",
              width: 32,
              height: 32,
              rollOverScale: 1.5,
              selectable: true,
              title: "<?= $s['name'] ?>",
              id: "<?= $s['name'] ?>",
              description: "<?= $s['address'] ?>",
              zoomLevel: 5,
              scale: 2
            },
            <?php endforeach ?>
         ]
      },
      areasSettings: {
        selectable: true,
        color: '#dddddd',
        rollOverOutlineColor: "#336666",
        rollOverColor: "#e34132",
        autoZoom: true,
      },
      legend: {
        divId: 'legend',
        width: 300,
        backgroundColor: "#fff",
        backgroundAlpha: 0.8,
        bottom: 30,
        color: '#666666',
        markerSize: 32,
        data: [{
          title: 'Boutiques',
          customMarker: "https://morand.paris/wp-content/uploads/2018/04/if_map-marker_299087.png"
        }
        ]
      },
      balloon: {
          adjustBorderColor: true,
          borderColor: "#e34132",
          borderAlpha: 0,
          borderThickness: 1,
          cornerRadius: 7,
          fillAlpha: 0.9,
          shadowAlpha: 0
        },
      mouseWheelZoomEnabled: true
    });
</script>